body {
  font-family: sans-serif;
  font-size: 20px;
}

hr {
  margin: 20px 0px 0px 0px;
  width: 20%;
  height: 2px;
  background: black;
}

.half-line {
  margin: 20px 0px 0px 0px;
  width: 5%;
}

.note {
  z-index: 2;
  position: fixed;
  left: 30%;
  top: 28px;
}

.options {
  position: fixed;
  right: 20px;
}
